<div class="row">
  <div class="col-md-12">
    <% if @recipe.errors %>
      <ul>
        <% @recipe.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%= form_for @recipe, :html => { :class => "form" } do |f| %>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.label :name %> </h3>
    </div>
    <div class="panel-body">
      <p>The best recipe names are short and simple, like <em>Chocolate Chip Cookies</em> or <em>Pizza Dough</em>.</p>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.label :description %> <small><em>Optional</em></small></h3>
    </div>
    <div class="panel-body">
      <p>A short description of your delicious recipe</p>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><%= f.label :prep_time %> <small><em>Optional</em></small></h3>
        </div>
        <div class="panel-body">
          <p> A time like
            <em>10 minutes </em>
            or
            <em>1 1/2 hours</em>
          </p>
          <%= f.text_field :prep_time, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><%= f.label :cook_time %> <small><em>Optional</em></small></h3>
        </div>
        <div class="panel-body">
          <p> A time like
            <em>10 minutes </em>
            or
            <em>1 1/2 hours</em>
          </p>
          <%= f.text_field :cook_time, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><%= f.label :servings %> <small><em>Optional</em></small></h3>
        </div>
        <div class="panel-body">
          <p> A number like
            <em>5</em>
            or
            <em>10</em>
          </p>
          <%= f.number_field :servings, min: 1, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.label :ingredients %></h3>
    </div>
    <div class="panel-body">
      <p>Enter each ingredient separately. See examples below.</p>
      <table class="table" id="ingredients-table">
        <thead>
          <tr>
            <th scope="col">
              Ingredient name
            </th>
            <th scope="col">
              Measurement or number <span style="font-weight: normal"><small><em>Optional</em></small></span>
            </th>
            <th scope="col">
              Unit <span style="font-weight: normal"><small><em>Optional</em></small></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <em>Example: flour</em>
            </td>
            <td>
              <em>1 1/2</em>
            </td>
            <td>
              <em>cups</em>
            </td>
          </tr>
          <tr>
            <td>
              <em>Example: eggs</em>
            </td>
            <td>
              <em>2</em>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <em>Example: salt</em>
            </td>
            <td></td>
            <td></td>
          </tr>
          <% if !@recipe.ingredients %>
            <% 5.times do %>
              <tr>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][name]">
                </td>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][measurement]">
                </td>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][unit]">
                </td>
              </tr>
            <% end %>
          <% else %>
            <% @recipe.ingredients.each do |ingredient| %>
              <tr>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][name]" value="<%=ingredient["name"]%>">
                </td>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][measurement]" value="<%=ingredient["measurement"]%>">
                </td>
                <td>
                  <input class="form-control" type="text" name="recipe[ingredients][][unit]" value="<%=ingredient["unit"]%>">
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <button type="button" class="btn btn-info" id="more-ingredients">Add more ingredients</button>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.label :steps %></h3>
    </div>
    <div class="panel-body">
      <p>Enter each step separately, in the way you want Alexa to read them. Short, manageable steps will work best!</p>
        <% if !@recipe.steps? %>
          <% 5.times do |n| %>
            <div class="input-group step">
              <div class="input-group-addon"><%= n + 1 %>.</div>
              <input class="form-control" type="text" name="recipe[steps][]">
            </div>
          <% end %>
        <% else %>
          <% @recipe.steps.each_with_index do |step, n| %>
            <div class="input-group step">
              <div class="input-group-addon"><%= n + 1 %>.</div>
              <input class="form-control" type="text" name="recipe[steps][]" value="<%=step%>" >
            </div>
          <% end %>
        <% end %>
        <button type="button" class="btn btn-info" id="more-steps">Add more steps</button>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.label :notes %> <small><em>Optional</em></small></h3>
    </div>
    <div class="panel-body">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit "#{button_text}", class: "btn btn-default" %>
    </div>
  </div>

<% end %>
