<h1>New Recipe</h1>

<div class="row">
  <div class="col-lg-12">
    <% if @recipe.errors %>
      <ul>
        <% @recipe.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for [current_user, @recipe], :html => { :class => "form" } do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
