<p>
  <%= link_to recipes_path do %>
    <i class="fa fa-long-arrow-left"></i> Back to My Recipes
  <% end %>
</p>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title recipe-card"><%= @recipe.name %></h1>
  </div>
  <div class="panel-body">
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-default" %>

    <% if @recipe.description %>
      <h3>Description</h3>
      <p><%= @recipe.description %></p>
    <% end %>

    <div class="row">
      <% attributes = {"Prep time" => @recipe.prep_time, "Cook time" => @recipe.cook_time, "Servings" => @recipe.servings} %>
      <% attributes.each do |name, value| %>
        <% if attributes[name].present? %>
          <div class="col-sm-4">
            <h3><%= name %></h3>
            <p><%= value %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <h3>Ingredients</h3>
    <% @recipe.ingredients.each do |ingredient| %>
      <% if ingredient["unit"] %>
        <p>
          <%= "#{ingredient["measurement"]} #{ingredient["unit"]} #{ingredient["name"]}" %>
        </p>
      <% elsif ingredient["measurement"] %>
        <p>
          <%= "#{ingredient["measurement"]} #{ingredient["name"]}" %>
        </p>
      <% else %>
        <p>
          <%= ingredient["name"] %>
        </p>
      <% end %>
    <% end %>

    <h3>Steps</h3>
    <% @recipe.steps.each_with_index do |step, i| %>
      <p>
        <%= i + 1 %>. <%= step %>
      </p>
    <% end %>

    <% if @recipe.notes %>
      <h3>Notes</h3>
      <p><%= @recipe.notes %></p>
    <% end %>

    <%= link_to recipe_path(@recipe), method: :delete, class: "btn btn-warning delete-recipe" do %>
      <i class="fa fa-trash-o"></i> Delete recipe
    <% end %>
  </div>
</div>
