<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-sm-12 welcome-speech">
      <% if user_signed_in? %>
        <h1>Welcome back!</h1>
      <% else %>
        <h1>Create, speak, bon appétit!</h1>
      <% end %>
      <p>Alexa Recipes works alongside your Amazon Echo or other Alexa-enabled device to let you interact with your favorite recipes via voice.</p>
      <% if user_signed_in? %>
        <span class="jumbotron-buttons">
          <%= link_to 'View your recipes', recipes_path, class: 'btn btn-primary btn-lg' %>
        </span>
        <span class="jumbotron-buttons">
          <%= link_to 'Get help', about_path, class: 'btn btn-success btn-lg' %>
        </span>
      <% else %>
        <span class="jumbotron-buttons">
          <%= link_to 'Get started', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </span>
        <span class="jumbotron-buttons">
          <%= link_to 'Learn more', about_path, class: 'btn btn-success btn-lg' %>
        </span>
      <% end %>
      <p class="coming-soon-info">Available soon as a skill in the Alexa companion app.</p>
    </div>
    <div class="col-md-6 col-sm-12 welcome-logo">
      <%= image_tag("alexa-recipes-large-3.png", alt: "Alexa Recipes Logo", class: "logo") %>
    </div>
  </div>
</div>
